/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: rgb(227, 221, 210);
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: 2rem;
  --fs-800: 1.75rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Source Serif Pro", serif;
  --ff-sans-serif: "Open Sans", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-montserrat-alt: "Montserrat Alternates", sans-serif;
}

/* media root */

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
* {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-size: 100%;
  font-size: 16px;
  background-color: var(--clr-light);
  font-family: var(--ff-sans-serif);
}

.title {
  font-weight: 600;
  font-size: var(--fs-900);
  color: #2b2422;
  margin-bottom: 1em;
}

.text {
  font-size: var(--fs-600);
  /* max-height: 60vh; */
}

/* main photo */
.main-photo {
  width: 700px;
  padding-bottom: 1.5em;
  padding-top: 5em;
  margin-left: 16em;
  margin: 0 auto;
  height: 85vh;
}

.gallery-link {
  margin-top: 20px;
}

.gallery-link * {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #222222;
  font-family: var(--ff-montserrat);
}

.gallery-link i {
  font-size: inherit;
  margin-left: 10px;
}

.gallery-link:hover {
  opacity: 70%;
  transition: 0.25s;
}

img {
  z-index: -1;
  position: relative;
  box-shadow: 0px 8px 19px 0px rgba(100, 100, 100, 0.75);
  -webkit-box-shadow: 0px 8px 19px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0px 8px 19px 0px rgba(100, 100, 100, 0.75);
}

.main-photo img {
  /* padding-bottom: 1.5em; */
  /* padding-top: 5em; */
  max-width: 90%;
  margin-left: 10em;
  box-shadow: 0px 8px 19px 0px rgba(100, 100, 100, 0.75);
  -webkit-box-shadow: 0px 8px 19px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0px 8px 19px 0px rgba(100, 100, 100, 0.75);
}

/* PHOTO collage */
.photos {
  padding-bottom: 1.5em;
  padding-top: 5em;
  margin-left: 16em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
  /* margin: 10px; */
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  /* margin: 10px; */
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 95%;
  border-radius: 0.225em;
  z-index: -1;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.art-title {
  display: block;
  width: 95%;
  height: 50px;
  background-color: var(--clr-light);
  margin-top: -50px;
  z-index: 1000;
  opacity: 0;
}

.art-title:hover {
  transition: 0.2s;
  opacity: 100%;
}

/* /PHOTO collage */

/* NAVBAR */
header {
  position: fixed;
  height: 50vh;
  margin: 3em;
}

nav {
  font-family: var(--ff-montserrat);
  font-weight: 300;
  text-transform: uppercase;
  gap: 150px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.mobile-nav-toggle {
  display: none;
}

.logo {
  font-size: var(--fs-600);
  font-family: var(--ff-montserrat-al);
  text-align: left;
}

.logo h1 a {
  font-weight: 300;
  text-align: left;
  color: #2b2422;
}

.logo h1 a:hover {
  color: #786a66;
  transition: 0.225s;
}

#logo-mob {
  display: none;
}

nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
}

.primary-navigation {
  font-size: var(--fs-600);
}

.primary-navigation a {
  color: #222222;
  text-align: center;
}

.primary-navigation a:hover {
  color: #786a66;
  transition: 0.225s;
  text-decoration: none;
}

#active {
  border-bottom: 1px solid #555555;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* ABOUT PAGE */
.about-container,
.classes-container,
.contact-container {
  padding-top: 15em;
  padding-left: 25em;
}

.about {
  /* height: 100vh; */
}

.about-container {
  padding-top: 10em;
  margin-bottom: 3.6em;
}
.about-info {
  display: flex;
  flex-direction: row;
  gap: 50px;
  max-width: 1280px;
  align-items: center;
}

.about-container > p {
  max-width: 800px;
}

img {
  width: 100%;
}

/* /ABOUT PAGE */

/* CLASSES PAGE */

.classes-txt p {
  max-width: 800px;
  font-size: ;
}

.classes-container {
  height: 100vh;
}

.classes-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.classes-txt {
  padding-right: 50px;
}

.carousel-item img {
  max-height: 400px;
  object-fit: cover;
}

.carousel {
  width: 400px;
}

/* CONTACT PAGE */
.contact-container {
  /* height: 100vh; */
}
/* /CONTACT PAGE */

/* FOOTER */
footer {
  background-color: #a7977c;
  padding: 1.15em 5em;
  font-family: var(--ff-sans-serif);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* font-family: var(--ff-cursive); */
}

.tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5px;
}

.col {
  max-width: 600px;
}

.left {
  line-height: 1;
}

.left p {
  margin-top: 10px;
}

.social {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

i {
  font-size: 3.5rem;
  color: rgb(255, 250, 241);
}

i:hover {
  color: rgb(226, 218, 200);
  transition: 0.25s;
  transform: translateY(-7px);
  box-shadow: 0px 13px 19px -5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 13px 19px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 13px 19px -5px rgba(0, 0, 0, 0.6);
}

.col h3 {
  font-size: 1rem;
  color: var(--clr-light);
  font-weight: bold;
  text-align: center;
}

.tags-list li {
  list-style: none;
  padding: 0.25em;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #827770;
  font-size: 0.8rem;
  cursor: default;
  border-radius: 0.15em;
}

.tags-list li:hover {
  background-color: #786a66;
}

/* NAV */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.primary-navigation {
  /* background: blue; */
  inset: 0 0 0 80%;
}
/* @MEDIA */
@media (max-width: 1080px) {
  header {
    position: relative;
    height: auto;
  }
  .mobile-nav-toggle {
    display: block;
  }
  .logo {
    display: block;
  }

  .primary-navigation {
    position: fixed;
    inset: 0 0 0 20%;
    z-index: 1000;
    background: rgba(58, 80, 58, 0.39);
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    /* margin-top: 5em; */
    flex-direction: column;
    background: hsl(var(--clr-white) / 0.95);
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  @supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
      background: hsl(var(--clr-white) / 0.25);
      backdrop-filter: blur(1.5rem);
    }
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 2.25rem;
    top: 2.25rem;
    background: transparent;
    background-image: url(assets/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    aspect-ratio: 1;
    border: 0;
    cursor: pointer;
    position: fixed;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(assets/icon-close.svg);
  }

  #active {
    border: none;
  }

  main {
    margin-top: -5em;
    margin-left: -15em;
  }

  .col i {
    font-size: 2.5rem;
  }

  .col h3 {
    font-size: 1rem;
  }

  .col {
    max-width: 300px;
  }

  .col p {
    font-size: 0.9rem;
  }

  .col li {
    font-size: 0.75rem;
  }

  .about-container,
  .classes-container,
  .contact-container {
    padding-top: 6em;
    padding-left: 16em;
    padding-bottom: 1em;
  }

  .classes-container,
  .contact-container {
    padding-left: 3em;
  }

  .carousel {
    height: 100%;
    margin-right: 15px;
  }

  .text {
    font-size: var(--fs-500);
  }

  .about {
    position: relative;
    min-height: 100vh;
  }
}

.primary-navigation a {
  text-decoration: none;
}

@media (max-width: 920px) {
  /* .about-container,
  .classes-container,
  .contact-container {
    padding-top: 6em;
    padding-left: 16em;
  } */

  .classes-info {
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .art-title {
    opacity: 80%;
  }

  .main-photo img {
    max-width: 80%;
    margin-left: 12em;
  }

  .gallery-link {
  }
}

@media (max-width: 600px) {
  footer {
    padding: 1em 3em;
  }
}

@media (max-width: 600px) {
  #logo-full {
    text-align: center;
  }

  #logo-mob {
    display: block;
  }

  main {
    /* height: 800px; */
  }

  .gallery-link {
    margin-right: 25px;
    margin-top: 50px;
  }

  .gallery-link a {
    font-size: var(--fs-700);
  }

  .main-photo {
    max-width: 400px;
  }

  .main-photo img {
    max-width: 100%;
    margin-left: 7.5em;
  }

  .primary-navigation {
    align-items: center;
    font-size: 2rem;
    gap: 2em;
  }

  .about-info {
    flex-direction: column-reverse;
  }

  .img {
    width: 80%;
  }

  .classes-txt {
    padding-left: 2em;
  }

  .classes-container {
    margin-bottom: 5em;
    padding-left: 0;
  }

  .carousel {
    width: 350px;
  }

  footer {
    padding: 2em;
    /* height: 15vh; */
    /* test */
  }

  footer .container {
    flex-direction: column;
  }

  .col {
    max-width: 500px;
  }

  .col h3 {
    font-size: 2rem;
    text-align: left;
  }

  .col p {
    font-size: 1.25rem;
  }

  .col li {
    font-size: 1rem;
  }

  .col i {
    font-size: 6rem;
  }

  .right h3 {
    margin-bottom: 5px;
  }

  .center,
  .right {
    margin-top: 45px;
  }

  .tags-list {
    padding: 0 10px;
    justify-content: center;
  }

  #classes-footer .container {
    margin-top: 1em;
    gap: 4em;
    height: 820px;
  }
}

footer {
  bottom: 0;
  font-weight: bolder;
}

#classes-footer {
  font-weight: 900;
  font-size: 1rem;
}

/* CONTACT PAGE TEMPORARY STYLE */
.contact-container {
  height: 85.2vh;
}

/* ART INFO */

.art_info {
  display: none;
  background: rgba(7, 7, 7, 0.63);
  z-index: 10;
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0 auto;
}

.box {
  display: none;
  z-index: 15;
  position: fixed;
  width: 70%;
  height: 70%;
  margin-left: 15%;
  margin-top: 150px;
  background: rgb(223, 223, 223);
}

.box img {
  width: 40px;
}
